:root {
    --primary: #72eba1;
    --primary-light: #fbc257;
    --dark-brown: #611010;
    --gray-1: #bfc0ae;
    --gray-2: #97978c;
    --white: #ffffff;

    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;

    --text-medium: 18px;
    --text-regular: 16px;
    --text-light: 13px;

    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
  }

  .btn {
    padding: 15px 25px;
    border-radius: 6px;
    font-size: var(--text-medium);
    font-weight: var(--font-weight-medium);
  }

  .btn-success {
    background-color: var(--primary);
    border: none;
  }

  .btn-success:focus {
    background-color: var(--primary-light);
    border: none;
  }

  .btn-success:hover {
    background-color: var(--primary-light);
    border: none;
  }

  .btn-secondary {
    background-color: var(--primary);
    color: var(--gray-1) none;
  }

  .btn-secondary:focus {
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
  }

  .btn-secondary:hover {
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--gray-1);
  }

  .navbar-brand img {
    padding-right: 16px;
    max-height: 55px;
  }

  .navbar-brand span {
    font-size: var(--text-medium);
    font-weight: var(--text-medium);
    color: var(--dark-brown);
  }

  .navbar-brand {
    padding: 46px 0;
  }

  a.nav-link {
    margin-right: 39px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--dark-brown) !important;
  }

  .section {
    margin: 5rem 0;
  }

  .text-label,
  .text-hero-bold,
  .text-hero-regular {
    margin: 24px 0;
  }

  .text-label {
    color: var(--primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--header-1);
    line-height: 74px;
  }

  .text-hero-bold {
    color: var(--dark-brown);
    font-weight: var(--font-weight-bold);
    font-size: var(--header-1);
    line-height: 74px;
  }

  .text-hero-regular {
    color: var(--gray-1);
    font-weight: var(--font-weight-regular);
    font-size: var(--text-regular);
    line-height: 31px;
  }

  @media (min-width: (1399 98px)) {
    .container {
      width: 84%;
    }
  }

  @media (max-width: 576px) {
    .navbar {
      padding: 22px 0;
    }
    .navbar-brand img {
      max-height: 40px;
    }

    a.nav-link {
      margin-right: 7px;
    }

    section.hero {
      margin: 2rem 0;
      text-align: center;
    }

    .btn {
      display: block;
      margin: 1rem 0;
    }

    .ms-3 {
      margin-left: 0 !important;
    }
    .text-label,
    .text-hero-bold,
    .text-hero-regular {
      text-align: center;
    }

    .text-hero-bold {
      font-weight: var(--font-weight-bold);
      font-size: var(--header-3);
      line-height: 64px;
    }
    section.hero {
      margin: 2rem;
    }
  }

  @media (max-width: 767px) {
    .navbar {
      padding: 22px 0;
    }
    .navbar-brand img {
      max-height: 45px;
    }

    a.nav-link {
      margin-right: 7px;
    }

    section.hero {
      margin: 1rem 0;
      text-align: center;
    }
  }

  @media (max-width: 992px) {
    .navbar {
      padding: 22px 0;
    }

    .navbar-brand img {
      max-height: 50px;
    }

    a.nav-link {
      margin-right: 7px;
    }

    section.hero {
      margin: 1rem 0;
      text-align: center;
    }
  }

  .login-container {
    height:100vh;
    width: 100%;
  }

  .login-form{
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
  }
  .login-form a{
    text-decoration: none;
    color: #666;
  }
  .form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500 ;
  }
  .login-form a:hover{
    text-decoration: none;
    color: #666;
  }

  .form-control:hover{
    border-color: #fbc257;
    box-shadow: #611010;
  }

  .forgot-link{
    font-size: 13px;
  }


  .forgot-link label{
   
    margin-bottom: 0;
  }










  .login-form {
    width: 300px;
  }

  .form-group {
    margin-bottom: 15px; /* Adjust the margin for spacing between textboxes */
  }



  .forgot-link {
    margin-top: 15px; /* Adjust the margin for spacing */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .forgot-link a {
    text-decoration: none; /* Remove underline */
    color: #007bff; /* Set the link color */
  }

  .forgot-link a:hover {
    text-decoration: underline; /* Add underline on hover */
  }

  .form-check {
    display: flex;
    align-items: center;
  }