<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        scrollbar-width: thin; /* For Firefox */
        overflow-y: scroll; /* For IE, Edge, and Chrome */
      }

      ::-webkit-scrollbar {
        width: 6px; /* Width of the scrollbar */
      }

      ::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 3px; /* Rounded corners of the thumb */
      }

      ::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color of the scrollbar track */
      }
    </style>
    {% load static %}

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <title>Stutern Pay</title>
    {% load static %}
  </head>
  {% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.svg' %}" style="max-width: 150px" />
        <span>Stutern Pay</span>
      </a>
      <button
        class="navbar-toggler shadow-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bx bx-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'home' %}"
            class="nav-link"
            href="#"
            >About</a
          >
        </div>
        <a class="btn btn-outline-success" href="{% url 'login' %}">Login</a>
      </div>
    </div>
  </nav>

  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div
            class="copy aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="3000"
          >
            <div class="text-label">Send Money Overseas with Ease</div>
            <div class="text-hero-bold">Boundless Money Transfer for You.</div>
            <div class="text-hero-regular">
              Experience seamless money transfer with Boundless Money Transfer.
              Simplify international transactions and elevate your financial
              convenience.
            </div>
            <div class="cta">
              <a
                href="{% url 'dashboard' %}"
                class="btn btn-success shadow-none"
                >Send Money Abroad</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-md-6 aos-init aos-animate"
          data-aos="fade-up"
          data-aos-duration="3000"
        >
          <img src="{% static 'img/mobile.svg' %}" class="w-100" alt="img" />
        </div>
      </div>
    </div>
  </section>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  {% endblock %}
</html>
