<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Payment Confirmation</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

      body {
        font-family: "Poppins", sans-serif;
      }

      /* Your CSS Styles Here */
      .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 20px #c3c3c367;
        margin: 20px;
      }
      p.notification {
        color: #28a745;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
      }

      a {
        color: #28a745;
        text-decoration: none;
        font-size: 14px;
        display: inline-block;
        margin-top: 10px;
      }

      a:hover {
        color: #000000;
        text-decoration: underline;
      }

      .offcanvas-body {
        text-align: left;
      }
      body {
        scrollbar-width: thin; /* For Firefox */
        overflow-y: scroll; /* For IE, Edge, and Chrome */
      }

      ::-webkit-scrollbar {
        width: 6px; /* Width of the scrollbar */
      }

      ::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 3px; /* Rounded corners of the thumb */
      }

      ::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Color of the scrollbar track */
      }
    </style>
  </head>
  <body>
    <nav class="container navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="{% static 'img/logo.svg' %}"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Stutern Pay
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="#">Home</a>

            {% if user.is_authenticated %}
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'signout' %}">signout</a>
              </div>
            </div>
            {% else %}
            <a class="btn btn-outline-success" href="{% url 'login' %}"
              >Login</a
            >
            {% endif %}
          </div>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-start"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
              Stutern Pay
            </h5>

            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              {% if user.is_authenticated %}
              <div class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'signout' %}"
                    >signout</a
                  >
                </div>
              </div>
              {% else %}
              <a class="btn btn-outline-success" href="{% url 'login' %}"
                >Login</a
              >
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 card mt-4">
          <h2 class="text-center" style="color: #28a745">Receipt</h2>

          <div class="mt-4">
            <p class="notification">
              Your transaction is in progress. You will be notified via email
              about the status of your transaction.
            </p>

            <p>
              Send Amount: <span id="sendAmount"></span>
              <span id="fromCurrency"></span>
            </p>
            <p>
              Recipient Amount: <span id="recipientAmount"></span>
              <span id="toCurrency"></span>
            </p>
            <p>
              Total Amount with Fee: <span id="totalAmountWithFee"></span>
              <span id="fromCurrency2"></span>
            </p>
            <p>
              Fee Amount: <span id="feeAmount"></span>
              <span id="fromCurrency3"></span>
            </p>
            <p id="beneficiaryName"></p>
            <p id="bankName"></p>
            <p id="swift"></p>
            <p id="iban"></p>
            <p id="country"></p>

            <p id="country"></p>
            <p id="recipientAmount"></p>

            <p>
              Your transaction is in progress. You will be notified via email
              about the status of your transaction.
            </p>
            <a href="{% url 'dashboard' %}">Initiate Another Transaction</a>
            <!-- Add similar elements for other values -->
            <div class="text-center">
              <a class="btn btn-outline-success" href="{% url 'home' %}"
                >Done</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      // Retrieve payment transaction details from sessionStorage
      const storedDetails = sessionStorage.getItem("paymentTransactionDetails");
      const paymentTransactionDetails = storedDetails
        ? JSON.parse(storedDetails)
        : null;

      // Check if details are available
      if (paymentTransactionDetails) {
        // Update the HTML with the retrieved payment transaction details
        document.getElementById(
          "toCurrency"
        ).innerText = `${paymentTransactionDetails.toCurrency}`;
        document.getElementById(
          "sendAmount"
        ).innerText = ` ${paymentTransactionDetails.sendAmount}`;
        document.getElementById(
          "beneficiaryName"
        ).innerText = `Beneficiary Name: ${paymentTransactionDetails.beneficiaryName}`;
        document.getElementById(
          "bankName"
        ).innerText = `Bank Name: ${paymentTransactionDetails.bankName}`;
        document.getElementById(
          "swift"
        ).innerText = `SWIFT: ${paymentTransactionDetails.swift}`;
        document.getElementById(
          "totalAmountWithFee"
        ).innerText = ` ${paymentTransactionDetails.totalAmountWithFee}`;
        document.getElementById(
          "iban"
        ).innerText = `IBAN: ${paymentTransactionDetails.iban}`;
        document.getElementById(
          "feeAmount"
        ).innerText = ` ${paymentTransactionDetails.feeAmount}`;
        document.getElementById(
          "fromCurrency"
        ).innerText = `${paymentTransactionDetails.fromCurrency}`;
        document.getElementById(
          "fromCurrency2"
        ).innerText = `${paymentTransactionDetails.fromCurrency}`;
        document.getElementById(
          "fromCurrency3"
        ).innerText = `${paymentTransactionDetails.fromCurrency}`;
        document.getElementById(
          "country"
        ).innerText = `Country: ${paymentTransactionDetails.country}`;
        document.getElementById(
          "recipientAmount"
        ).innerText = ` ${paymentTransactionDetails.recipientAmount}`;
      } else {
        // Handle the case when details are not available
        console.error("Payment transaction details not found");
      }
    </script>
  </body>
</html>
